@font-face {
  font-family: "Pokemon";
  src: local("Pokemon"),
    url("./fonts/pokemon/PokemonSolid.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}
.PokemonCardContainter {
  font-family: "Pokemon";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.App {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .PokemonCardContainter {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .PokemonCardContainter {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .PokemonCardContainter {
    grid-template-columns: repeat(5, 1fr);
    
  }
.header-letter {
  min-width: 30%;
}
}

