



.backgrounds-img {
  width: 100%;
  height: 100%;
}
.background-container {
  position: relative;
}
.pokemon-name-container {
  display: flex;
  position: absolute;
  width: 95%;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

.pokemon-number {
  font-size: 1vh;
  margin-left: 5%;
}
.pokemon-name {
  font-size: 1vh;
}
.feu-energie {
  height: 1.9vh;
  margin-right: 5%;
}
.image-container {
  display: flex;
  position: absolute;
  top: 23%;
  width: 100%;
  justify-content: center;
}
.salameche-img {
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 20%;
}
.bottom-container {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: center;
}
.gen {
  font-size: 1.3vh;
}

@media screen and (min-width: 600px) {
  .pokemon-number {
    font-size: 1.2vh;
  }
  .pokemon-name {
    font-size: 1.2vh;
  }
  .gen{
    font-size:  1.2vh;
  
  }
}
@media screen and (min-width: 768px) {
  .pokemon-number {
    font-size: 1.4vh;
  }
  .pokemon-name {
    font-size: 1.4vh;
  }
  .gen{
    font-size:  1.4vh;
  
  }
}
@media screen and (min-width: 1000px) {
  .pokemon-number {
    font-size: 1.5vh;
  }
  .pokemon-name {
    font-size: 1.5vh;
    margin-right: 4vw;
  }
  .gen{
    font-size:  1.5vh;
  }
  
}
@media screen and (min-width: 1300px) {
  .pokemon-number {
    font-size: 1.8vh;
  }
  .pokemon-name {
    font-size: 2.8vh;
  }
  .gen{
    font-size:  3.8vh;
  }
  .feu-energie {
    height: 3.5vh;
  }
}

.backgrounds-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12%; /* Je suis idiot j'ai mal dimmensioné figma j'ai eu la flemme de refaire des overlay au propre a modifié */
}
.energie-container{
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 8vh;
  justify-content: space-between;
  width: 100%;
}


.popup-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}


.popup-container img {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}


.popup-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}


.popup-container p.number {
  margin: 0;
  font-weight: bold;
}


.popup-container h2 {
  margin: 10px 0;
}


.popup-container img.pokemon-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.popup-container div.stats-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.popup-container div.stats-container span {
  flex: 1;
}


.popup-container p.generation {
  margin: 0;
}


.popup-container div.types-container {
  margin-top: 10px;
}

.popup-container div.types-container img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}


.popup-container div.size-weight-container {
  margin-top: 10px;
}

.popup-container div.size-weight-container p {
  margin: 0;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



